*{
    font-family: 'Inconsolata', monospace;
    color: #F0E3CA;
}

body{
    background-color: #21201D;
}

header{
    height: 80px;
}

a{
    text-decoration: none;
    color: #F0E3CA;
}

ul>a>li:hover{
    color: #FF8303;
}

.AP{
    padding: 1rem 0rem;
    display: grid;
    grid-template-areas: 'logo . . . . . ul . .';
}

.inicio{
    grid-area: inicio;
    width:60px;
    margin-right: 1rem;
}

.acerca{
    grid-area: acerca;
    width:120px;
    margin-right: 1rem;
}

.contactame{
    grid-area: contactame;
    width:120px;
}

.argentina-program{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.argentina-program img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 0.5rem;
}

.APTitle{
    color: #ffffff;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.APTitle2{
    color: rgb(252, 179, 21);
    margin-left: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}


.head-ul{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: ul;
    color: aliceblue;
}

.head-ul > a > li{
    list-style: none;
    font-size: 20px;
}

.presentation{
    display: grid;
    grid-template-areas: '. . . . . . . . . .'
                         '. . box1 . . . box2 . . .'
                         '. . . . box3 . . . . .';

    height: 50vw;
}

.box1{
    grid-area: box1;
    width: 480px;
    margin-left: 9rem;
}

.box2{
    grid-area: box2;
    width: 629px;
    margin-right: 9rem;
}

.box2>img{
    height:auto;
    width:30vw;
}

.box3{
    grid-area: box3;
}

main > div > div > h1{
    color: #FF8303;
    font-size: 64px;
    font-weight: bolder;
}

main > div > div > p:first-of-type{
    font-size: 40px;
    font-weight: bold;
}
main > div > div > p{
    font-size: 20px;
}

.img-man{
    border-radius: 0.5rem;
}