*{
    font-family: 'Inconsolata', monospace;
    color: #F0E3CA;
}

body{
    margin: 0;
    /*background-color: #21201D;*/
    background-color: #1F1E1B;
}

header{
    height: 80px;
}

h1::selection{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

h2::selection{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

h3::selection{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

p::selection{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

li::selection{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

*::-webkit-scrollbar {
    width: 15px;
    background-color: #383630;
  }

*::-webkit-scrollbar-thumb {
    background-color: #6e695e;
    border-radius: 20px;
    border: 3px solid rgb(71, 71, 71);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #FF8303;
    border: 3px solid rgb(71, 71, 71);
}

a{
    text-decoration: none;
    color: #F0E3CA;
}

ul>a>li:hover{
    color: #FF8303;
}

.AP{
    padding: 1rem 0rem;
    display: grid;
    grid-template-areas: 'logo . . . . . ul . social';
    height: 4rem;
}

.social-media{
    grid-area: social;
    display: flex;
    height: 3rem;
    width: 10rem;
    align-items: center;
}

.icon{
    list-style: none;
    font-size: 2rem;
    margin-left: 1.5rem;
    background-color: #21201D;
    transition: font-size 0.3s;
}

.icon:hover{
    font-size: 2.5rem;
}

.fa-square-instagram:hover{
    color: #E1306C;
}

.fa-square-facebook:hover{
    color: #4267B2;
}

.fa-square-github:hover{
    color: #10c500;
}

.inicio{
    grid-area: inicio;
    width:60px;
}

.acerca{
    grid-area: acerca;
    width:120px;
    margin: 0 1.5em;
}

.contactame{
    grid-area: contactame;
    width:120px;
}

.argentina-program{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.argentina-program img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 0.5rem;
}

.APTitle{
    color: #ffffff;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.APTitle2{
    color: rgb(252, 179, 21);
    margin-left: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}


.head-ul{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: ul;
    color: aliceblue;
}

.head-ul > a > li{
    list-style: none;
    font-size: 20px;
}

.presentation{
    display: grid;
    grid-template-areas: '. . . . .'
                         '. box1 . . box2';
    height: 40vw;
}

.box1{
    grid-area: box1;
    width: 480px;
    margin-left: 6rem;
}

.box2{
    grid-area: box2;
    width: 629px;
    margin-right: 9rem;
}

.box2>img{
    height:auto;
    width:30vw;
}

.box3{
    background-color: #1d1c19;
    width: 100%;
    margin-top: 10rem;
    padding: 5rem 0;
}

.hero-title{
    color: #FF8303;
    font-size: 64px;
    font-weight: bolder;
}

.p-first{
    font-size: 40px;
    font-weight: bold;
}
.p-second-hero{
    font-size: 20px;
}

.img-man{
    border-radius: 0.5rem;
}

.about-me{
    display: flex;
    margin: auto;
    width: 80rem;
}

.code-icon{
    background-color: #ff8103da;
}

.about-me > img{
    height: 100px;
    width: 100px;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.about-me > p{
    font-size: 24px;
    font-weight: 500;
    text-align: justify;
    /*margin: 0;*/
}

.ir_arriba{
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ff8000;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    opacity: 0;
    transition: opacity 0.2s 0.1s ease-out;
}

.skills{
    display: grid;
    grid-template-areas: 'texto'
                         'images';
    gap: 1.5em;
}

.text-skills{
    grid-area: texto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF8303;
}

.images-skills{
    grid-area: images;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.languaje{
    background-color: #1d1c19;
}

.languaje>img{
    height: auto;
    width: 15rem;
}

.languaje>h3{
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 300;
}